<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%=form_for @user do |f| %>

<%= f.label :username %>
<%= f.text_field :username%><p>

<%= f.label :name %>
<%= f.text_field :name%><p>

<%= f.label :password %>
<%= f.password_field :password%><p>

  <%= f.label :bio  %>
  <%= f.text_area :bio%><p>

  <% f.label :skintype%>
  Skintype:  <%= f.select :skintype, ['dry', 'combination', 'oily']%><p>

<%= f.submit "Create User" %>
<%end%>
