<%=link_to 'New Makeup Product', new_makeup_path%>
<%=link_to 'Top Influencers', topinfluencers_path%>
<%= link_to 'Edit Profile', edit_user_path%>

<p><h2>Welcome <%=@user.name%>!<br></h2>
  <p>My skintype is <%=@user.skintype%>.<br>
  Bio: <%=@user.bio%><br>
  Points <%=@user.points%><br>
  Status <%=@user.status_update%>
