<br><br>Makeup: <b><%=@review.makeup.name%></b>

  <% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
      prohibited this review from being saved:
    </h2>

    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@review.makeup, @review] do |f| %>
<p>
  <%= f.label 'Title' %><br>
  <%= f.text_field :title %><br>

  <%= f.label 'Content' %><br>
  <%= f.text_area :content %><br>

  <%= f.label 'Rating' %><br>
  <%= f.select :rating, ['5', '4', '3', '2', '1']%><p>

    <% f.label :recommendation%>
    Recommendation: <%= f.check_box :recommendation %> <br />

  <%= f.submit "Edit Review" %>

<% end %>
