<p>Review

  <% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
      prohibited this review from being saved:
    </h2>

    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%=form_for [@makeup,@review] do |f| %>

<br><%=@makeup.name%><br>
<%= f.label :title %>
<%= f.text_field :title%><p>

<%= f.label :content %>
<%= f.text_area :content, minlength: 20%><p>

  Rating: <% f.label :rating%>
  <%= f.select :rating, ['5', '4', '3', '2', '1']%><p>

  <% f.label :recommendation%>
  Recommendation: <%= f.check_box :recommendation %> <br />

<%= f.submit "Submit" %>
<%end%>
