<!DOCTYPE html>
<html>
  <head>
    <title>Makeup Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<h1>Makeup Reviews</h1>


<%if !logged_in?%>
<h4><%=link_to 'Register', new_user_path%></h4>
<%end%>


<%if !logged_in?%>
 <h4><%=link_to 'Log In', login_path%><h4>
  <%end%>



  <%if logged_in?%>
   <h4><%= link_to 'Log Out', logout_path%>
<%end%>


<h4><%if !logged_in?%>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
<%end%></h4>

<%if logged_in?%>
  <%= link_to 'Makeups', makeups_path%>
  <%end%>

      <% flash.each do |key, value| %>
         <div class="alert alert-<%= key %>"><%= value %></div>
       <% end %>

    <%= yield %>

  </body>
</html>
